    {% extends "master.html" %}
    {% block body %}
    <section class="full-height-section" style="background-color: black">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <p style="color:white">About Us</p>
        </div>
        <div class="row content">
          <div class="col-lg-8">
            <p style="font-family: &quot;Roboto&quot;,&quot;Helvetica&quot;,&quot;Arial&quot;,sans-serif; font-size: 25px; letter-spacing: 0.00938em; font-weight: 400; line-height: 1.5; color: white;">
              At Starbs, we elevate coffee from a mere beverage to a captivating experience. Our passion for the perfect brew is evident in every cup, sourced from the finest beans worldwide. With expert roasting and skilled baristas, we craft a symphony of flavors and aromas, ensuring each sip is a journey. Step into our welcoming spaces, where the aroma of freshly ground beans mingles with the warmth of community. Starbs isn't just a coffee destination; it's where moments are savored, connections are made, and the love for coffee becomes an unforgettable adventure.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
    {% endblock %}