{% extends "dashboard.html" %}
{% block title %}Manage Orders{% endblock %}

{% block navbar %}
    {{ super() }} 
{% endblock %}

{% block body %}
  <div class="container" style="margin-top: 100px;">
    <h1 style="color: white; text-align: center; margin-top: 10px;">Order Logs</h1>
    <div style="color: white; background-color: black; padding: 10px;">
      {% for cart_item, fullname in cart_items|sort(attribute='create_at', reverse=true) %}
          <div style="border-bottom: 1px solid white; margin-bottom: 20px;">
              <div style="padding: 10px;">
                  <div><strong style="margin-right: 5px;">Customer Name:</strong> {{ fullname }}</div>
                  <div><strong style="margin-right: 5px;">Product Name:</strong> {{ cart_item.name }}</div>
                  <div><strong style="margin-right: 5px;">Price:</strong> ₱{{ cart_item.price }}</div>
                  <div><strong style="margin-right: 5px;">Quantity:</strong> {{ cart_item.quantity }}</div>
                  <div><strong style="margin-right: 5px;">Paid:</strong> {{ "Yes" if cart_item.paid else "No" }}</div>
                  <div><strong style="margin-right: 5px;">Delivered:</strong> {{ "Yes" if cart_item.delivered else "No" }}</div>
                  <div><strong style="margin-right: 5px;">Date Ordered:</strong> {{ cart_item.create_at.strftime('%Y-%m-%d %H:%M:%S') }}</div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>
    
    
    
    </div>
  </div>
 
  
  {% endblock %}

  <!-- Other sections and scripts -->
</body>
</html>
