{% extends "master.html" %}
{% block body %}
	<div class="container" data-aos="fade-up" style="margin-top: 100px; margin-bottom: 100px" > 
		{% for product in products %}
		<div class="row mt-3">
			<div class="col-lg-3" style="text-align: right;">
			<img src="{{ url_for('static', filename='assets/img/' + product.piamge) }}" alt="product" style="width: 250px; height: 250px; border-radius: 50px 0px 0px 50px;">
			</div>
			<div class="col-lg-6" >
				<h1 style="font-family: arial; font-weight: bold; color: white">{{ product.pName }}</h1>
				<p style="color: white">{{ product.pDesc }}</p>
				<div class="row">
					<div class="col-lg-6" style="margin-top: 2px; font-size: 30px">
						<p style="color: white">₱{{ product.pPrice }}</p>
					</div>
					<div class="col-lg-6" style="text-align: right;">
						<!-- <a href="#" class="btn-get-starteds animate__animated animate__fadeInUp scrollto" style="margin-top: 0px" >Add to Cart</a> -->

						<a href="#" class="btn-get-starteds animate__animated animate__fadeInUp scrollto" onclick="addToCart({{ product.id }})">Add to Cart</a>

					</div>
				</div>
			</div>
		</div>
 {% endfor %}
    </div>



    <script>
    function addToCart(productId) {
        fetch(`/add_to_cart/${productId}`, {
            method: 'POST',

        })
        .then(response => {
            if (response.ok) {
                alert('Product added to cart!');
            } else {
                alert('Failed to add product to cart!');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}